@model IEnumerable<Virtualizer.Models.UserAnswerToQuestion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserForAnswerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnswerDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserForAnswerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerDate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.UserAnswerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserAnswerID })
        </td>
    </tr>
}

</table>
