@using Virtualizer.Models
@model Virtualizer.Models.QuestionForUsers
@{
    ViewBag.Title = "Users page";
}

<table class="table">
    <tr>
        <td>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h1 class="robot">Answer a question</h1>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.QuestionID)

                    <div class="question">
                        @Html.DisplayFor(model => Model.Question)
                    </div>

                    <div class="comment">
                        (
                        @Html.DisplayFor(model => Model.Comment)
                        )
                    </div>

                    <div class="answer">
                        @{
                             string[] ends = new string[2];
                             int i = 0;
                        }
                        @foreach (var item in Model.PossibleAnswerForQuestion)
                        {
                            switch (item.AnswerType.ToString())
                            {
                                case "Open":
                                    <div class="answer">
                                        <input type="text" name="reportName" />
                                    </div>
                                    break;
                                case "Closed":
                                <div class="answer">
                                    <form action="">
                                        <input type="radio" name="reportName" value="Yes">Yes<br>
                                        <input type="radio" name="reportName" value="No">No
                                    </form>
                                </div>
                                    break;
                                case "Date":
                                <div class="answer">
                                    <input type="date" name="reportName" />
                                </div>
                                    break;
                                case "Arrey":
                                    ends[i] = item.Answer;
                                    i = i + 1;
                                    if (i == 2)
                                    {
                                        <div class="answer">
                                            <input name="reportName" id="rangeValue1" type="number" size="5" min=@ends[0] max=@ends[1] placeholder="20">
                                        </div>
                                    }
                                    break;
                                default:
                                <div class="answer">
                                    <input type="text" name="reportName" />
                                </div>
                                    break;
                            }
                        }
                    </div>
                    <div class="form-group">
                        <div class="answer-button">
                            <input type="submit" value="Answer" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @if (User.Identity.IsAuthenticated)
                {

                    @Html.ActionLink("Skip question", "Index")
                }
            </div>
        </td>
        <td>
            
            @using (Html.BeginForm("Question", "Cm"))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">


                    @if (User.IsInRole("canEdit"))
                    {
                        
                    <h1 class="robot">Create a question <sup class="blue">( Many )</sup> </h1>
                    <hr />
                        
                         @Html.Partial("_questionPartial")

                    }
                    else if (ViewBag.LinkableId == 1)
                    {
                        <h1 class="robot">Create a question <sup class="blue">( @ViewBag.LinkableId )</sup> </h1>
                        <hr />

                        @Html.Partial("_questionPartial")

                    }
                    else
                    {
                            <h1 class="robot">Create a question <sup class="red">( @ViewBag.LinkableId )</sup> </h1>
                            <hr />
                       
                            @Html.Partial("_questionPartial2")
                       }


            </div>
            }
</td>
        </tr>
    </table>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/jquery")
        }


